<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li  <% if(active == "index"){ %> class="active" <% } %> ><a href="/">Micro Blog <span class="sr-only">(current)</span></a></li>
      <% if(login){ %>
      <li <% if(active == "allBlog"){ %> class="active" <% } %> ><a href="/showAllBlog">All Blog</a></li>
      <li <% if(active == "myBlog"){ %> class="active" <% } %> ><a href="/homepage/<%= username %>">My Blog</a></li>
      <li <% if(active == "memberList"){ %> class="active" <% } %> ><a href="/memberList">Member List</a></li>
      <% } %>
    </ul>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <%
          if(login){
        %>
        <li><a href="javascript:void(0);">欢迎，<%= username %></a></li>
        <li <% if(active == "setting"){ %> class="active" <% } %> ><a href="javascript:void(0);">设置</a></li>
        <li><a href="javascript:void(0)" id="logout">退出</a></li>
        <%
          }else{
        %>
        <li <% if(active == "login"){ %> class="active" <% } %> ><a href="/login">登录</a></li>
        <li <% if(active == "regist"){ %> class="active" <% } %> ><a href="/regist">注册</a></li>
        <% 
          } 
        %>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<script>
  // 登出
  $('#logout').on('click', (e) => {
    $.get('/logout', (data) => {
      if (data == '1') {
        alert('登出成功');
        location.href = '/';
      } else {
        alert('登出失败,请稍后再试');
      }
    })
  })
</script>